html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    link(rel='stylesheet', href='style.css')
    script.
      city=`#{city}`;

  body
    div.top
      div.header 
        a.title2=`Ranking`

      div#stats
        stats

      div#search
        voting

    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="./ranking.js")
